/*************************************
 *         General Formatting
 *************************************/
/* Format page headings */
.pageTitle {
    margin-bottom:30px;
    font-weight:bold;
}

/* Format Tables */
.table {
    margin-top:25px;
    margin-bottom:40px;
}

/* Format table headings */
.table>thead>tr>th {
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
}
.table>tbody>tr>td {
    font-size:16px;
}

/* General formatting */
.center {
    text-align:center;
}
.m_auto {
    margin:auto;
}
.space_above {
    margin-top:20px;
}

/*************************************
 *        Instructor Pages
 *************************************/
/* Format view buttons */
.btn-view, .btn-submit{
    background-color:#FFF;
    color:#000;
    border: 1px solid #000;
}

/* Create New Class*/
#class_name, #class {
    margin-bottom:15px;
}
/* Forms */
#form_holder {
    width:300px;
    margin-bottom:40px;
}
.form_label {
    margin-top:30px;
    display:block;
    font-weight:bold;
}
#assign_instr {
    display:block;
    margin-bottom: 20px;
}

/* New Assignment */
#form_holder input {
    margin-bottom:15px;
}

/* Submissions */
#instructions_compact {
    display:none;
    padding-left:15px;
    margin-bottom:15px;
    margin-top:-15px;
    font-style: italic;
    font-size:14px;
    width: 475px;
}
#due_label {
    display:inline-block;
}
#due {
    display:inline-block;
    font-style:italic;
    padding-left:10px;
    margin-bottom:20px;
    font-size:16px;
}
#percent_sub {
    font-size:22px;
    margin-top:15px;
    margin-top:0px;
    text-align:center;
}
.minPad {
    padding:0px;
    margin:2px;
}
#instr_label_compact {
    display:block;
    margin-top:-20px;
    margin-bottom:20px;
    font-weight:bold;
    font-size: 14px;
    cursor:pointer;
    color:#4490FF;
    color:#008CBA;
}
#instr_label_compact:hover {
    color:#1144FF;
    color:#00526E;
}

/*************************************
 *         Main Home Page
 *************************************/
#mainContent {
    min-width:640px;
}
#firstLine {
    height:320px;
    margin-bottom:0px;
}
#mainImage, #tagLine {
    display:inline-block;
    text-align:center;
}
#spacer {
    height:80px;
}

#tagText1, #tagText2 {
    text-align:center;
    margin:auto;
    font-size:30px;
}
#tagButton {
    text-align:center;
    margin:auto;
    margin-top:15px;
}
#thumbnails {
    min-width:640px;
}
.thumbnail img {
    margin-top:10px;
}
.caption {
    text-align:center;
}
.thumbnail {
    height:260px;
}

/*************************************
 *         Student Pages
 *************************************/
#instruction_label, #due_label {
    font-weight:bold;
    font-size: 18px;
}
#instructions {
    padding-left:15px;
    margin-bottom:15px;
    font-style: italic;
    font-size:14px;
    width: 475px;
}
#response {
    padding: 10px;
    margin-bottom:5px;
}
.grayed {
    color:#6F6F6F;
}

/*************************************
 *              Login
 *************************************/
#openid {
    width: 450px;
}