/* Format page headings */
.pageTitle {
    margin-bottom:30px;
    font-weight:bold;
}

/* Format Tables */
.table {
    margin-top:40px;
    margin-bottom:30px;
}

/* Format table headings */
.table>thead>tr>th {
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
}
.table>tbody>tr>td {
    font-size:16px;
}

/* General formatting */
.center {
    text-align:center;
}


/* Format view buttons */
.btn-view {
    background-color:#FFF;
    color:#000;
    border: 1px solid #000;
}

/* Create New Class*/
#class_name, #class {
    margin-bottom:15px;
}

#form_holder {
    width:300px;
    margin-bottom:40px;
}
.form_label {
    margin-top:30px;
    display:block;
    font-weight:bold;
}
#assign_desc {
    display:block;
    margin-bottom: 20px;
}

/* New Assignment */
#form_holder input {
    margin-bottom:15px;
}