/* Format page headings */
.pageTitle {
    margin-bottom:30px;
    font-weight:bold;
}

/* Format Tables */
.table {
    margin-top:40px;
    margin-bottom:40px;
}

/* Format table headings */
.table>thead>tr>th {
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
}
.table>tbody>tr>td {
    font-size:16px;
}

/* General formatting */
.center {
    text-align:center;
}

/*************************************
 *        Instructor Pages
 *************************************/
/* Format view buttons */
.btn-view {
    background-color:#FFF;
    color:#000;
    border: 1px solid #000;
}

/* Create New Class*/
#class_name, #class {
    margin-bottom:15px;
}
/* Forms */
#form_holder {
    width:300px;
    margin-bottom:40px;
}
.form_label {
    margin-top:30px;
    display:block;
    font-weight:bold;
}
#assign_desc {
    display:block;
    margin-bottom: 20px;
}

/* New Assignment */
#form_holder input {
    margin-bottom:15px;
}

/*************************************
 *         Main Home Page
 *************************************/
#mainContent {
    min-width:640px;
}
#firstLine {
    height:320px;
    margin-bottom:0px;
}
#mainImage, #tagLine {
    display:inline-block;
    text-align:center;
}
#spacer {
    height:80px;
}

#tagText1, #tagText2 {
    text-align:center;
    margin:auto;
    font-size:30px;
}
#tagButton {
    text-align:center;
    margin:auto;
    margin-top:15px;
}
#thumbnails {
    min-width:640px;
}
.thumbnail img {
    margin-top:10px;
}
.caption {
    text-align:center;
}
.thumbnail {
    height:260px;
}
