{% extends "master-instructor.html" %}
{% block head %}{% endblock %}
{% block content %}
<!-- Button to Create New Class -->
<button type="button" class="btn btn-default btn-success" onclick="new_class();">+ New Class</button>
<!-- Table of Classes -->
<table class="table table-striped table-condensed">
  <thead>
      <tr class="warning">
          <th>Class</th>
          <th class="center">Code</th>
          <th class="center"># of Students</th>
          <th class="center">Students</th>
      </tr>
  </thead>
  <tbody>
    {% for course in courseList%}
      <tr>
          <td>{{course.name}}</td>
          <td class="center">{{course.code}}</td>
          <td class="center">{{course.numStudents}}</td>
          <td class="center"><button type="button" class="btn btn-primary btn-view btn-xs" onclick="view_students({{course.code}})">View</button></td>
      </tr>
    {% endfor %}
    </tbody>

</table>
{% endblock %}

{% block script %}
  <script>
    function new_class() {
      //window.alert("Request to visit create class page");
      window.location.href = "/create-class";
    }
    function view_students(code) {
      window.alert("Request to see students for class code: " + code);
      // Display the button as normal again
      $('.btn-view').blur(); 
    }
  </script>
{% endblock %}