{% extends "master-instructor.html" %}
{% block head %}{% endblock %}
{% block content %}
<!-- Button to Create New Class -->
<button type="button" class="btn btn-default">+ New Class</button>

<!-- Table of Classes -->
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>

  <!-- Table -->
  <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th># of Students</th>
            <th>Students</th>
        </tr>
        <tr>
            <td>English</td>
            <td>18948489</td>
            <td>29</td>
            <td><button type="button" class="btn btn-default">View</button></td>
        </tr>
    </thead>
  </table>
</div>
{% endblock %}