{% extends "master-instructor.html" %}
{% block head %}{% endblock %}
{% block content %}
<div id="form_holder">
    <form name="info" method="post" action="">
        <!-- Class Selection Dropdown -->
        <select class="form-control" id="class">
            <option default>Select a class...</option>
            {% for course in courseList%}
            <option value="{{course.code}}"> {{course.name}} </option>
            {% endfor %}
        </select>
        
        <!-- Assignment Name -->
        <input type="text" class="form-control" id="assign_name" placeholder="Assignment Name">
          
        <!-- Due Date -->
        <span class="form_label">Due Date:</span>
        <input type="date" class="form-control" id="datepicker" min="2014-04-14"/>

        <!-- Instructions -->
        <span class="form_label">Instructions:</span>
        <textarea id="assign_instr" rows="5" cols="39" class="grayed">Type instructions for completing assignment here...</textarea>

        <!-- Create Button -->    
        <button type="button" class="btn btn-success" onclick="create_assignment();">Create</button>                
    </form>
</div>

<!-- Success/Fail modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="new_assign_success" aria-labelledby="newAssignSuccess" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <span id="newAssignmentName">
      </span>
      <span id="newAssignmentHolder">
        Instructions: <span id="newAssignInstr"></span>
        Due Date: <span id="newAssignDueDate"></span>
      </span>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
  <script>
    // Toggle instructional text in instructions textarea
        $("#assign_instr").focus(function(){
            var curText = document.getElementById("assign_instr").value;
            if( curText == "Type instructions for completing assignment here...")
            {
                document.getElementById("assign_instr").value = "";
                $("#assign_instr").removeClass("grayed");
            }
        });
        // Toggle instructional text in instructions textarea
        $("#assign_instr").blur(function(){
            var curText = document.getElementById("assign_instr").value;
            if( curText == "")
            {
                document.getElementById("assign_instr").value = "Type instructions for completing assignment here...";
                $("#assign_instr").addClass("grayed");
            }
        });
    
    
    // Set minimum Due date as current date
    var d = new Date();
    var month = d.getMonth()+1;
    var day = d.getDate();
    if (day < 10) {
        day = "0" + day;
    }
    if (month < 10) {
        month = "0" + month;
    }
    document.getElementById("datepicker").min = d.getFullYear() + "-" + month + "-" + day;
    
    // Redirect ENTER key to the proper function
    $(document).keypress(function(e) {
        if(e.which == 13) {
          create_assignment();
          e.preventDefault();
        }
    });
    
    // Create assignment based on form data
    function create_assignment() {
        // Validate form fields
        if (document.getElementById("class").value == "Select a class...") {
            window.alert("Please select a class.");
            return false;
        }
        if (document.getElementById("assign_name").value == "") {
            window.alert("Please enter a name for the assignment.");
            return false;
        }
        if (document.getElementById("datepicker").value == "") {
            window.alert("Please select a due date.");
            return false;
        }
        if (document.getElementById("assign_instr").value == "Type instructions for completing assignment here..."
            || document.getElementById("assign_instr").value == "") {
            window.alert("Please enter a description for this assignment.");
            return false;
        }
        
        // Prepare POST variables
        var code = document.getElementById("class").value;
        var assign_name = document.getElementById("assign_name").value;
        var instructions = document.getElementById("assign_instr").value;
        var date = document.getElementById("datepicker").value;        
        
        $.post('/create-assignment-post', {
            class_code: code,
            name: assign_name,
            dueDate: date,
            instr: instructions
        }).done(function(response) {
            // Populate Assignment information
            $("#newAssignmentName").html("'" + response['name'] + "' successfully created for " + $("#class").find(":selected").text());
            $("#newAssignInstr").html(response['instr']);
            $("#newAssignDueDate").html(response['due']);
            
            // Show user details on success
            $("#new_assign_success").modal();
            
            // Clear the form
            document.getElementById("class").value = "Select a class...";
            document.getElementById("assign_name").value="";
            document.getElementById("datepicker").value="";
            document.getElementById("assign_instr").value="";
            return true;
        }).fail(function() {
            // Populate details on failure
            $("#newAssignmentName").html("An error occurred... unable to create assignment!");
            $("#newAssignmentHolder").html("");
            $("#newAssignmentName").css("color","#EA2F10");
            
            // Show user details on failure
            $("#new_assign_success").modal();
            
            return false;
        });
        return true;
    }
    
    // Return student to home page after submission of assignment
    $('#new_assign_success').on('hidden.bs.modal', function () {
        window.location.href = "/current-assignments";
    });
    
  </script>
{% endblock %}