{% extends "master-instructor.html" %}
{% block head %}{% endblock %}
{% block content %}
<div id="formHolder">
    <form name="info">
        <!-- Class Selection Dropdown -->
        <span class="label">Class:</span>
        <input type="text" class="form-control" placeholder="Name"><br/>
        
        <!-- Assignment Name -->
        <span class="label">Title:</span>
        <input type="text" class="form-control" placeholder="Assignment Name"><br/>
          
        <!-- Due Date -->
        <span class="label">Due:</span>
        <input type="date" class="form-control" id="datepicker"><br/>

        <!-- Description -->
        <span class="label">Description:</span><br/>
        <textarea rows="5" cols="50">Description of assignment
        </textarea><br/>
    
        <!-- Create Button -->    
        <button type="submit" class="btn btn-success">Create</button>                
    </form>
</div>
{% endblock %}