{% extends "master-instructor.html" %}
{% block head %}{% endblock %}
{% block content %}
<!-- Button to Create New Assignment -->
<button type="button" class="btn btn-success" onclick="new_assignment()">+ New Assignment</button>

<!-- Table of Current Assignments -->
<table class="table table-condensed">
  <thead>
      <tr>
          <th>Class</th>
          <th class="center">Assignment</th>
          <th class="center">Due</th>
          <th class="center">% of Class</th>
          <th class="center">Submissions</th>
      </tr>
  </thead>
  <tbody>
    {% for assignment in assignments %}
      <!-- Highlight rows based on submission percentage -->
      <tr {% if(assignment.percentSubmitted == 100): %} class="success"
          {% endif %} >
        <td>{{assignment.class}}</td>
        <td>{{assignment.name}}</td>
        <td class="center">{{assignment.dueDate}}</td>
        <td class="center">{{assignment.percentSubmitted}}</td>
        <td class="center">
          {% if(assignment.percentSubmitted > 0): %}
          <button type="button" class="btn btn-primary btn-view btn-xs" onclick="view_submissions('{{assignment.name}}')">View</button></td>
          {% else: %}
            ---
          {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block script %}
  <script>
    function view_submissions(assign_name) {
      window.alert("Request to view submissions for: " + assign_name);
      // Display the button as normal again
      $('.btn-view').blur(); 
    }
    function new_assignment() {
      window.location.href = "/create-assignment";
    }
  </script>
{% endblock %}