{% extends "master.html" %}
{% block head %}{% endblock %}
{% block content %}
<!-- Table of Current Assignments -->
  <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Assignment</th>
            <th>Due</th>
            <th>Link</th>
        </tr>
        <tr>
            <td>Journal Entry Week 4</td>
            <td>Monday</td>
            <td><button type="button" class="btn btn-default">Submit</button></td>
        </tr>
    </thead>
  </table>
</div>
{% endblock %}
{% block script %}
  <script>
    //$('#someButton').click();
  </script>
{% endblock %}