{% extends "master.html" %}
{% block head %}{% endblock %}
{% block content %}
<div class="center">
    <h1 class="pageTitle">{{title}}</h1>
    <div id="form_holder" class="m_auto space_above">
        <form name="info" onsubmit="return instructor_signup();">
            <input type="text" id="instructor_name" class="form-control" placeholder="Name">
            <input type="email" id="email" class="form-control" placeholder="Email Address">
            <input type="text" id="openID" class="form-control" placeholder="OpenID" title="Enter your openID URL here">
            <button type="submit" class="btn btn-success">Create Account!</button><br/><br/>
            <a id="not_instructor" href="/student-signup" title="Click here for the student signup page">Not an Instructor?</a>
        </form>
    </div>

</div>
{% endblock %}
{% block script %}
  <script>
    // Submit Data to create a student account
    function instructor_signup() {
        
        // Validate form fields
        if (document.getElementById("instructor_name").value == "") {
            window.alert("Please enter your name.");
            return false;
        }
        if (document.getElementById("email").value == "") {
            window.alert("Please enter a valid email address");
            return false;
        }
        if (document.getElementById("openID").value == "") {
            window.alert("Please enter your openID URL.");
            return false;
        }
        window.alert("Creating new instructor...\nName: " + document.getElementById("instructor_name").value +
                     "\nEmail: " + document.getElementById("email").value +
                     "\nOpenID: " + document.getElementById("openID").value);
        return true;
    }
  </script>
{% endblock %}