<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
	<title>{{title}} | Assignment Tracker</title>
	{% else %}
	<title>Assignment Tracker</title>
	{% endif %}

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
      
    <!-- Custom CSS -->
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	{% block head %}{% endblock %}
	
  </head>

  <body>

    <nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="/index">Assignment Tracker</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav">
			<li><a href="/current-assignments">Current Assignments</a></li>
			<li><a href="/past-assignments">Past Assignments</a></li>
			<li><a href="/classes">Classes</a></li>
		  </ul>
		  <ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.nickname}} <b class="caret"></b></a>
			  <ul class="dropdown-menu">
				<li><a href="/logout">Sign Out</a></li>
			  </ul>
			</li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

    <div class="container">
      <h1 class="pageTitle">{{title}}</h1>
      
      {% block content %}{% endblock %}

      <hr>

      <footer>
        <p class="inline">&copy; Assignment Tracker 2014</p>
	<a class="inline github" href="https://github.com/natafaye/assignment-tracker">Source on GitHub</a>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script>
	// Determine the current page
	var url = window.location.href.split("/");
	var curPage = url[url.length-1];
	var URL = window.location.href;
	
	// For an instructor's first-time login, update URL to show current-assignments
	if (curPage == "#") {
	  URL = URL.replace("#","current-assignments");
	  window.location.href = URL;
	  curPage = "current-assignments";
	}
	else if (curPage == "") {
	  URL = URL + "current-assignments";
	  window.location.href = URL;
	  curPage = "current-assignments";
	}
	else if (curPage == "home") {
	  URL = URL.replace("home","current-assignments");
	  window.location.href = URL;
	  curPage = "current-assignments";
	}
	else if (curPage == "index") {
	  URL = URL.replace("index","current-assignments");
	  window.location.href = URL;
	  curPage = "current-assignments";
	}
	
	// Highlight the current page on the nav-bar
	var anchorSelect = ".nav li a[href='/" + curPage + "']";
	$(anchorSelect).parent("li").addClass("active");
      </script>
    {% block script %}{% endblock %}
  </body>
</html>