<!-- Button to Create New Assignment -->
<button type="button" class="btn btn-default">+ New Assignment</button>

<!-- Table of Past Assignments -->
<table class="table">
  <thead>
      <tr>
          <th>Class</th>
          <th>Assignment</th>
          <th>% of Class</th>
          <th>Submissions</th>
      </tr>
      <tr>
          <td>English</td>
          <td>Journal Entry Week 4</td>
          <td>Monday</td>
          <td>79%</td>
          <td><button type="button" class="btn btn-default">View</button></td>
      </tr>
  </thead>
</table>