{% extends "master.html" %}
{% block head %}{% endblock %}
{% block content %}
<div id="formHolder">
    <form name="info">
        <input type="text" class="form-control" placeholder="Name">
        <input type="email" class="form-control" placeholder="Email Address">
        <input type="password" class="form-control" placeholder="Password">
        <input type="text" class="form-control" placeholder="Class Code">
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>
{% endblock %}