<!-- Due Date -->
Due: 3/25
<br/>
93% Submitted
<br/>
Some kind of useful/descriptive text...
<br/>

<!-- Table of Students -->
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Student</th>
      <th>Submitted</th>
      <th>Submission</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="success">John Brown</td>
      <td>3/24 4:45 pm</td>
      <td><button type="button" class="btn btn-default">View</button></td>
    </tr>
    <tr class="success">
      <td>Alice Ellison</td>
      <td>3/23 3:16 pm</td>
      <td><button type="button" class="btn btn-default">View</button></td>
    </tr>
    <tr class="danger">
      <td>Dan Green</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table> 