{% extends "master-instructor.html" %}
{% block head %}{% endblock %}
{% block content %}

<!-- Assignment Instructions -->
<span id="instr_label_compact">Show Instructions</span>
<div id="instructions_compact">{{assignment.description}}</div>

<!-- Due date -->
<span id="due_label">Due:</span>
<div id="due">{{assignment.dueDate.strftime(dateFMT)}}</div><br/>

<!-- Percent Of Students That Have Submitted the Assignment -->
<hr class="minPad">
<div id="percent_sub" class="m_auto warning">{{assignment.percent}}% Submitted</div>
<hr class="minPad">


<!-- Table of Students -->
<table class="table table-condensed">
  <thead>
      <tr>
          <th>Student</th>
          <th class="center">Submit Date</th>
          <th class="center">Link</th>
      </tr>
  </thead>
  <tbody>
    {% for student in assignment.students %}
      <!-- Highlight rows based on submission percentage -->
      <tr {% if(student.date != ""): %} class="success"
          {% endif %} >
        <td><!-- {{student.lastname}}, {{student.firstname}} --> {{student.firstname}}</td>
        <td class="center">{% if(student.date != ""): %} {{student.date}}
            {% else %} ---
            {% endif %}
        </td>
        <td class="center">
          {% if(student.date != ""): %}
          <button type="button" class="btn btn-primary btn-view btn-xs" onclick="view_submission('{{assignment.id}}','{{student.id}}')">View</button></td>
          {% else: %}
            ---
          {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Submissions modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="view_submission" aria-labelledby="viewSubmission" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <span id="submission_title"></span>
      <span id="submission_author"></span><hr id="submission_divide"/>
      <span id="submission_label">Submission:</span>
      <span id="view_submission_content"></span>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  <script>
    // Toggle visibility of the assignment instructions
    $("#instr_label_compact").click(function(){
      $("#instructions_compact").slideToggle(150);
      if($("#instr_label_compact").text() == "Show Instructions") {
        $("#instr_label_compact").text("Hide Instructions");
      }
      else {
        $("#instr_label_compact").text("Show Instructions");
      }
    });
    
    // View submission
    function view_submission(assignmentID,studentID) {
      // Display the button as normal again
      $('.btn-view').blur();
      
      // Request submission from database
      $.post('/view-submission-post', {
            assignment_id: assignmentID,
            student_id: studentID
        }).done(function(response) {
        
            // Populate Submission Information
            $("#submission_title").html(response['assignment_name']);
            $("#submission_author").html(response['student_name']);
            $("#view_submission_content").html(response['submission_content']);
            
            // Show user details on success
            $("#view_submission").modal();
            
            return true;
        }).fail(function() {
            // Populate details on failure
            $("#submission_title").html("An error occurred... unable to display submission!");
            $("#submission_title").css("color","#EA2F10");
            $("#submission_author").html("");
            $("#view_submission_content").html("");
      
            // Show user details on failure
            $("#view_submission").modal();
            
            return false;
        });
    }
  </script>
{% endblock %}