{% extends "master.html" %}
{% block head %}{% endblock %}
{% block content %}
<div id="formHolder">
    <form name="info">
        <!-- Assignment Instructions -->
        <span class="instructions">Instructions:</span>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Here are the instructions for completing the assignment...</div><br/>
            
        <!-- Assignment Content -->
        <textarea rows="10" cols="50">Content of Assignment here...
        </textarea><br/>
        
        <!-- Submit Button -->    
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
{% endblock %}